<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ironium
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="page-layout">

    <div class="list-view">

      <ion-card>

        <ion-card-header>
          <ion-card-title>My Bag</ion-card-title>
        </ion-card-header>
        <ion-card-content>

          <ion-list> 
          <div *ngFor="let bagItem of bagItems">

            <ion-item>
              
              <ion-thumbnail slot="start">
                <img alt="Silhouette of mountains" src={{bagItem.imageUrl}} />
              </ion-thumbnail>
              <ion-label>{{bagItem.name}}</ion-label>

              <ion-button (click)="decrementQuantity(bagItem)">
                <ion-icon name="remove-outline"></ion-icon>
              </ion-button>
              
              <ion-button>{{bagItem.quantity}}</ion-button>

              <ion-button (click)="incrementQuantity(bagItem)">
                <ion-icon name="add-outline">
                </ion-icon>
              </ion-button>
              
            </ion-item>
          </div>
          </ion-list>
          <ion-button (click) = processOrder() expand="block">Place Order</ion-button>
        </ion-card-content>
        
      </ion-card>

    </div>

  </div>
</ion-content>
