
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ironium
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<p>
  <strong>Terms and Conditions</strong><br>
  These terms and conditions ("Terms", "Agreement") are an agreement between you ("User", "Customer") and 
  the developer(s) of {{companyName}} ("Developer", "We", "Us", "Our"). This Agreement sets forth the general terms and 
  conditions of your use of the {{companyName}} application and any of its products or 
  services (collectively, "Application").

</p>


<p>
  <strong>  Disclaimer of Responsibility  </strong><br>
  By using the {{companyName}} application, you acknowledge and agree that the Developer 
  shall not be responsible or liable for any discrepancies, inaccuracies, or damages of any form arising 
  before, during, or after the use of the Application. The Developer acts solely as a platform provider and 
  facilitator for connecting Users with service providers. 
  We do not guarantee the accuracy, reliability, or quality of any products, services, information, or 
  content provided through the Application.
</p>

<p>
  <strong>  Limitation of Liability  </strong><br>
  Under no circumstances shall the Developer be liable to you or any third party for any indirect, 
  incidental, special, consequential, or punitive damages, including, but not limited to, damages for 
  lost profits, loss of data, business interruption, or any other commercial damages or losses, 
  arising out of or related to your use or inability to use the Application, even if we have been advised 
  of the possibility of such damages. In no event shall our total liability to you for all damages 
  exceed the amount paid by you for using the Application.
</p>

<p>
  <strong>  Indemnification  </strong><br>
  You agree to indemnify, defend, and hold harmless the Developer and its affiliates, officers, directors, 
  employees, agents, and licensors from and against any and all claims, liabilities, damages, losses, 
  costs, expenses, or fees (including reasonable attorneys' fees) arising out of or in any way related 
  to your use of the Application or violation of these Terms.
</p>

<p>
  <strong>  Changes to This Agreement  </strong><br>
  We reserve the right to modify or replace these Terms at any time. If a revision is material, we will 
  provide at least 30 days' notice prior to any new terms taking effect. 
  What constitutes a material change will be determined at our sole discretion.
</p>


<p>
  <strong>    Contact Information </strong><br>

If you have any questions about this Agreement, please contact us at ironiumapplication[at]gmail[dot]com .

By using the {{companyName}} application, you acknowledge that you have read, understood, 
and agree to be bound by these Terms and Conditions.
</p>

<p>
Effective Date: 9 April, 2024
<br>
Last Updated: 9 April, 2024
</p>

</ion-content>