.product {
    display: flex;
    justify-content: flex-start; /* Align items to the start of the flex container */
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent items from wrapping to the next line */
    margin-left: 15px; /* Set left side margin */
}

.product ion-card {
    width: 175px; /* Maximum width of the card */
    height: 220px;
    margin-top: 50px;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    flex: 0 0 auto; /* Ensure each card takes its natural width */
}