<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Order
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="page-layout">

    <div class="list-view">

      <div class="ion-cards">

        <div *ngFor="let prodCategory of productCategories">
        
          <ion-card>

            <ion-card-header>
              <ion-card-title>{{ prodCategory.categoryName }}</ion-card-title>
            </ion-card-header>

            <div *ngFor="let product of productsByCategory[prodCategory.id]">
            
              <ion-card-content>
  
                <ion-list>
  
                  <ion-item>
  
                    <ion-thumbnail slot="start">
  
                      <img alt="Silhouette of mountains" src="{{ product.imageUrl }}" />
  
                    </ion-thumbnail>
  
                    <ion-label>{{ product.name }}</ion-label>
                    
                    <ion-button (click)="decrementQuantity(product)">
                      <ion-icon name="remove-outline"></ion-icon>
                    </ion-button>

                    <ion-button>{{ product.unitPrice | currency:'INR' }}</ion-button>
                    
                    <ion-button (click)="incrementQuantity(product)">
                      <ion-icon name="add-outline">
                      </ion-icon>
                    </ion-button>
                    
                  </ion-item>
  
                </ion-list>
  
              </ion-card-content>
              
            </div>
            
          </ion-card>
        
        </div>

      </div>

    </div>
 
  </div>

  
</ion-content>


